
 <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    </head>
<style>
.page-footer{position: absolute;
  bottom: 0 ;
  width: 100%;
  height: 10%; /* Set the fixed height of the footer here */
  line-height: 60px;
  background: #333;
    }
.footer-copyright
{
    height: 10%;
     background: #333;
}

</style>
{% block header %}
    <div class="navbar-fixed">
            <nav style="background-color:#17a222">
                <div class="nav-wrapper container">
                    <a href="/" class="brand-logo">
                        <img class="img-responsive" style="width:75px; height:75px; margin-top: -5px; margin-left: -10px;" src="/static/images/crlogo.png">
                    </a>
					<a href="#" data-activates="navsidebar" class="button-collapse">
                        <i class="mdi-navigation-menu"></i>
                    </a>
					<ul class="right hide-on-med-and-down">
                        <li>
                            <i class="material-icons md-light md-inactive">
                                search
                            </i>
                        </li>
                        <li>
                            <form method='get' id='searchform' style='height:50px; padding-top:10px' action='/search/?l=hi'>
                                <input name='q' id="search" type="search" placeholder="search"  style='font-size:16px'>
                            </form> 
                        </li>
                        <li>
                            <a href="/">HOME</a>
                        </li>
                        <li>
                            <a href="/login/">
                                LOG IN
                            </a>
                        </li>
                        <li>
                            <a href="/logout/">
                                LOG OUT
                            </a>
                        </li>
                    </ul>
					<ul class="side-nav" id="navsidebar">
                        <li>
                            <form method='get' id='searchform' style='height:50px; padding-top:10px' action='/search/?l=hi'>
                                <input name='q' id="search" type="search" placeholder="search"  style='font-size:16px'>
                            </form>
                        </li>
                        <li>
                            <a href="/">
                                HOME
                            </a>
                        </li>
                        <li>
                            <a href="/user/">
                                LOG IN
                            </a>
                        </li>
                        <li>
                            <a href="/logout/">
                                LOG OUT
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
{% endblock %}

<body>
        <div class="container-fluid" style="min-height: 100%">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {{messages}}
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
            
            
        </div>

        {% block content %}
        {% endblock %}

        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        </body>
        
{% block footer %}
<footer class="page-footer">
    <div class="container">
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
          <a href="#!" class="btn btn-outline-white btn-rounded">Sign up!</a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
    </div>
  </footer>
    </div>
  <
{% endblock %}
