{% extends "base.html" %}

{% block title %}
    Rename Title
{% endblock %}

{% block content %}
<script type="text/javascript">
    var lis = [];

      function sendCardList(id)
      {
        document.getElementById(id).setAttribute("value",lis.toString());
        console.log("yes");
      }

    function imageClicked(name) {
      
      var nameList = document.getElementsByName(name);

      for(var i = 0;i<nameList.length;i++)
      { 
          element = nameList[i];
          var index = lis.indexOf(element.name.toString().split('-')[0]);
          if(index > -1)
          {
            element.style.maxWidth = "80px";
            element.style.maxHeight = "100px";
            element.style.minWidth = "80px";
            element.style.minHeight = "100px";
            element.style.border = "none";
            element.style.opacity = "1";
            if(i == nameList.length-1)
            {
                lis.splice(index,1);
            }
          }
          else
          {
            if(i == nameList.length-1)
            {
                lis.push(element.name.toString().split('-')[0]);
            }
            element.style.maxWidth = "60px";
            element.style.maxHeight = "80px";
            element.style.minWidth = "60px";
            element.style.minHeight = "80px";
            element.style.border = "solid";
            element.style.borderColor = "blue";
            element.style.borderRadius  = "10px";
            element.style.opacity = "0.9";
            
          }

      }
      console.log("Dictionary" +lis);


      
    }
</script>
  <div class = "Container -cardDetail" style="min-width: 100%; padding: 2%"> 
    <div class="row">
    {% for key, value in cardDetailsList.items() %}
      <div class="column hoverable" 
      style="min-width : 33%;max-width:33%; min-height:100%; padding-left: :10px; padding-right: 10px;">
      <div class = "Type" style="background-color: green;colorborderRadius : wh10e;min-height: 50px min-width:100%">
        <p><center>{{key}}</center></p>
      </div>
      
        {% set cnt = [0] %}
      {% for i in value %}
            {% set length = loop.length %}
            {% if cnt[0] < length %}
            <div class="row" style="padding-left: 8%"> 
              {% for j in range(4) %}
                {% if cnt[0] < length %}
              
                <div class = "column" style="min-width: 25%;max-width: 25%">
                {% set imageName =  value[cnt[0]] %}
                {% if '.png' not in  imageName %}
                {% set imageName = imageName | replace(".","") %}
                {% set imageName = imageName +".png" %}
                {% endif %}
                {% set imageSource =imageFolderPath +imageName %}
                {% set imageNameCardId = imageName | replace(" ","") %}
                {% set imageNameCardId = imageNameCardId | replace(".png","") %}
                {% set imageNameCardId = imageNameCardId + '-img'%}
                 <img class="responsive-img" name = {{imageNameCardId}} src="{{ url_for('static',filename=imageSource)}}" style="max-height: 100px;max-width: 80px;min-width: 80px;min-height: 100px padding:15%" onclick="imageClicked('{{imageNameCardId}}')"/>
                {% if cnt.append(cnt.pop() + 1) %}{% endif %}
            </div>
            {% endif %}
            {% endfor %}

          </div>
          {% endif %}
      {% endfor %}
      
      </div>

    {% endfor%}

    </div>            
  </div>
  <div class="container">
        <form action="" class="form-inline" method="POST" onsubmit="sendCardList('cardList')">
               <input type="hidden" class="form-control" id = "cardList" placeholder="cardList" name="cardList" value="{{request.form.cardList}}">

                          <input class="btn btn-default" type="submit" value="submit" >
        </form>
    </div>
{% endblock %}


{% block footerposition %}
        none
{% endblock %}
