<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
    ClashRoyale Tokens
{% endblock %}

{% block content %}
<div class="container" style="max-width:1000px; min-height:100%; padding-bottom:100px">
            <div class="row">
              {% for imageName in imagesList %}
              {% set imageSource =imageFolderPath +imageName %}
                <div class="col l4 s12 m6">
                    <a href="/data-analysis-tutorials/" class="waves-effect waves-light" style="color:#000">
                        <div class="card-panel hoverable" style="height:75px; background-color:#FFFFFF; width: 75px">
                            <div class="card-image">
                                <img class="responsive-img" src="{{ url_for('static',filename=imageSource)}}" style="max-height: 100%;max-width: 100%">
                                <br>
                                <span class="card-title"><strong></strong></span>
                            </div>
                            <!--<div class="card-content">
                                <p>{{imageName.split('.')[0].upper()}}</p>
                            </div>-->
                            <div class="card-action right-align">
                                <a href="/data-analysis-tutorials/" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">
                                    View
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
              {% endfor%}

            </div>
        </div>
{% endblock %}


{% block footerposition %}
        none
{% endblock %}
