<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
    ClashRoyale Tokens
{% endblock %}

{% block content %}
<div class="container" style="max-width:1000px; min-height:100%">
            <div class="row">
                <div class="col l4 s12 m6">
                    <a href="/data-analysis-tutorials/" class="waves-effect waves-light" style="color:#000">
                        <div class="card-panel hoverable" style="height:250px; background-color:#FFFFFF;">
                            <div class="card-image">
                                <img class="responsive-img" src="/static/images/mainlogo-old.png" style="width:250px">
                                <br>
                                <span class="card-title"><strong>Data Analysis</strong></span>
                            </div>
                            <div class="card-content">
                                <p>BATTLE RAM</p>
                            </div>
                            <div class="card-action right-align">
                                <a href="/data-analysis-tutorials/" class="waves-effect waves-light btn" style="color:#000000; background-color:#FFD166">
                                    View
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
{% endblock %}


